.content {
    display: block;
    width: 100%;
    height: 100%;
}

.edit-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-container {
    margin-top: 15px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.form-container > form {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container > form > mat-form-field {
    margin-top: 10px;
    width: 100%;
}

.phone-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 15px;
}

.type-select {
    width: 25%;
}

.phone-field {
    width: 75%;
}
