
<div class="container">
    <button mat-button class="menu-btn"
            (click)="showMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <app-list-contact [class.active]="menu" [ContactData]="allContacts" (emitContact)="listeningContact( $event )" (emitCreateContact)="haveSelectedContact = false" (emitCloseMenu)="menu = false"></app-list-contact>

    <app-profile-info *ngIf="haveSelectedContact" [selectedContact]="contact" (deletedContact)="updateContactList( $event )"></app-profile-info>
    <app-form-add *ngIf="!haveSelectedContact" (newContact)="setCreateContact( $event )"></app-form-add>
</div>