.container {
    max-height: 100%;
    overflow-y: scroll;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mat-mdc-list-item:not(.mat-mdc-list-item-interactive), .mat-mdc-list-option:not(.mat-mdc-list-item-interactive) {
    cursor: pointer !important;
}

.toggle-btn {
    display: none;
}

.active {
    background: grey;
    transition: .2s ease;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-btn {
    color: #6464c9 !important;
    font-weight: bolder;
    margin-block: 10px;
}

@media (max-width: 400px) {
    .add-btn > span {
        font-size: 12px !important;
    }

    .toggle-btn {
        display: block;
    }
}